.timer-page{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(to top left, #faf5ef 95%, #75809C 5%);
    flex-direction: row;
    gap:10px;
    min-width: 1532px;
}