html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Full-screen background */
.background {
    position: relative; /* Needed to position the hexagon absolutely within it */
    width: 100%; /* Cover the full width */
    height: 100vh; /* Cover the full viewport height */
    background-image: url("./Images/background_intro.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_frame{
    display: block;
    height: 230px; /* Fixed height */
    width: 240px;  /* Fixed width */
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 100px;
    left: 765px;
}


.explore_button{
    background-color: #C2D111;
    border-color: #C2D111;
    color: #ffffff;
    font-style: italic;
    font-weight: 150; /* 100 is typically the numeric value for 'thin' */
    border-width: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding-left: 15px;
    padding-right:15px;
    padding-top: 9px;
    padding-bottom: 9px;
    vertical-align: top;
    margin-left: 50px;
    margin-right: 50px;
    background-color: transparent;
    position: absolute;
    left: 765px;
    top:550px;


    
}
.explore_button:focus{
    outline: none; /* Removes default focus outline */
    border-color: #C2D111; /* Keeps the border color consistent */
}
.explore_button:hover{
    padding-right:25px;
    padding-left:25px;
    margin-left:40px;
    margin-right:40px;
    color:#ffffff;
    text-shadow: 0 0 15px #ffffff,
                 0 0 40px #ffffff;
    
}



