.login-page{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: flex-end;
    padding: 40px, 40px;
    background: linear-gradient(to top left, #FFFFFF 60%, #8D8FA4 40%);
    min-width: 1532px;
}
.login-panel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:22%;
    padding: 200px;
 
}

.greeting{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    animation: fadeIn 4s;
    
}
.greeting h1{
    display: inline-block;
    font-weight: 500;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.greeting h2{
    display: inline-block;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    padding-top: 10%;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    animation: fadeIn 4s;
}

.username-input{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    border: 1px, solid,#2a4c65;
}

.password-input{
    width:100%;
    height: 20px;
    border-radius: 20px;
    border:1px, solid, #2a4c65
}

button{
    min-width: 100px;
    min-height: 30px;
    border-radius: 20px;
    background-color: #b6b9ae83;
    border: none;
}

.button-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button:hover{
    cursor: pointer;
    background-color: #FFFFFF;
    border:1px, solid, #5b6d7a;
    transition:1s;
    
}

p {
    padding: 10px;
    writing-mode: vertical-lr;
    animation: fadeIn 5s;

}

h3{
    padding-top: 100px;
    font-weight: 500;
    animation: fadeIn 5s;  
    font-size: 12pt;
}

.marmot-logo{
    width: 30px;
    height: 30px;

}

.marmot-logo:hover{
    cursor: pointer;
    animation: rotate 1s;
}

.slide-element {
    display: inline-block;
    animation: slide 2s linear infinite;
    font-size: 24px;
    padding: 20px;
    border: 1px solid #000;
}

@keyframes fadeIn {
    0%{
      opacity:0;
    }
    100%{
      opacity:1;
    }
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
     
    }
    100% {
        transform: rotate(360deg);
    
    }
    
}



